*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #002766;
  font-family: 'Montserrat', 'Arial', sans-serif; 
  font-size: 16px;
  line-height: 1.5;
}

/* div {
  border: 1px solid black;
} */

main{
  background: #f0f2f5;
  height: 100vh;
  min-height: 690px;
  position: relative;
  margin-left: 25px;
  border-left: 35px solid #001b47;;
  border-top-left-radius: 80% 120%; /*80% 120% */
  /* min-width: 1500px; */
}

h1{
  font-size: 4.5em;
  font-weight: normal;
}

.about-article{
  padding: 30px;
}

.avatar{
  border-color: #001931;
  border-width: 20px;
  border-style: solid;
  border-radius: 50%;

  position: absolute;
  top: 0px;
}

.avatar-frame{
  position: absolute;
  left: 2%; /* 65px */
  top: 28px; /* 28px */
}

ul{
  list-style-type: none;
}

nav ul {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.container{
  display: flex;
  height: 80vh;
  min-height: 577px;
  justify-content: space-between;
}

.socials{
  display: flex;
  position: relative;
  width: 24%; /*460px*/
  min-width: 380px;
  /* border: 1px solid red; */
  justify-content: center;
}

.socials-inner{
  /* width: 100%; */
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  
}

.content{
  /* border: 1px solid brown; */
  width: 70%; 
  padding: 40px;
  padding-top: 60px;
  color: #444444;
}

.icon {
  font-size: 45px;
  transition: all 0.3s linear;
  color: hsl(210, 22%, 49%);
}
.icon:hover{
  cursor: pointer;
  color:#001b47; /*#001931 #001b47 #002766*/
}

.github-icon{
  transform: scale(1.1);
}

.linkedin-icon{
  margin-top: 37px;
  margin-bottom: 32px;
  transform: scale(1.1);
}

/* .email-icon{

} */

.udemy-icon{
  color: #001931;
}

.menu-btn{
  background: transparent;
  border-color: transparent;
  margin-right: 60px;
  font-family: 'Verdana';
  font-size: 1.4rem;
  color: #001931;
  letter-spacing: -1px;
}

.menu-btn:hover{
  cursor: pointer;
}

.certificates-container{
  padding-top: 30px;
  padding-left: 30px;
}
/* .certificate-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: baseline;
} */

table{
  /* border: 1px solid red; */
}

td{
  padding-right: 75px;
  line-height: 35px;
}
td:last-child{
  padding-right: 0;
}



td a {
  text-decoration: none;
  font-weight: bold;
  color: #002766;
}
td a:hover{
  color: red;
}

