*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #002766;
  font-family: verdana, sans-serif;
  font-size: 16px;
}

/* div {
  border: 1px solid black;
} */

main{
  background: #f0f2f5;
  height: 100vh;
  min-height: 720px;
  position: relative;
  margin-left: 25px;
  border-left: 35px solid #001b47;;
  border-top-left-radius: 80% 120%; /*80% 120% */
}

.avatar{
  border-color: #001931;
  border-width: 20px;
  border-style: solid;
  border-radius: 50%;

  position: absolute;
  top: 0px;
}

.avatar-frame{
  position: absolute;
  left: 65px; /* -465px */
  top: 28px; /* -450px */
}

nav ul {
  padding: 20px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

nav ul a {
  display: block;
  padding: 5px 35px;
  font-size: 1.3em;
  text-decoration: none;
  color: black;
}

.container{
  display: flex;
  height: 80vh;
  min-height: 577px;
}

.socials{
  display: flex;
  position: relative;
  width: 670px;
  /* border: 1px solid red; */
  justify-content: center;
}

.socials-inner{
  /* width: 100%; */
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  
}

.content{
  /* border: 1px solid yellow; */
  width: 100%;
  
}

.icon {
  font-size: 45px;
  transition: all 0.3s linear;
  color: hsl(210, 22%, 49%);
}
.icon:hover{
  cursor: pointer;
  color:#001b47; /*#001931 #001b47 #002766*/
}

.github-icon{
  transform: scale(1.1);
}

.linkedin-icon{
  margin-top: 37px;
  margin-bottom: 32px;
  transform: scale(1.1);
}

.email-icon{

}